html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.list,
.link {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-style: unset;
}

.link {
  display: block;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

h1, h2 {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  h1, h2 {
    font-size: 36px;
  }
}

b {
  font-weight: 700;
}

input:focus {
  outline: none;
}

body {
  margin: 0;
  color: #212121;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.container {
  padding-top: 60px;
  padding-right: 15px;
  padding-bottom: 60px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header .container {
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-button {
  display: none;
}

@media screen and (max-width: 767px) {
  .logo-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-button {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
  .icon-close {
    display: none;
  }
  .menu-button.is-open .icon-close {
    display: block;
  }
  .menu-button:hover .icon-close {
    fill: #2196F3;
  }
  .menu-button.is-open .icon-burger {
    display: none;
  }
  .menu-button:hover .icon-burger {
    fill: #2196F3;
  }
  .nav-contacts-wrapper {
    position: absolute;
    z-index: 10;
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    background-color: #ffffff;
    border-top: 1px solid #ECECEC;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .nav-contacts-wrapper.is-open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

@media screen and (min-width: 768px) {
  .nav-contacts-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.portfolio {
  border-bottom: 1px solid #ECECEC;
}

@media screen and (max-width: 767px) {
  .nav {
    margin-bottom: 60px;
  }
  .nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .nav-list-item-link {
    display: inline-block;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-items: center;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    margin-right: 305px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list-item {
    position: relative;
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-list-item-link {
  position: relative;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-link:hover, .nav-list-item-link:focus {
  color: #2196F3;
}

.nav-list-item-link::after {
  display: block;
  position: absolute;
  content: "";
  bottom: 0px;
  margin: 0 auto;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  transform: scaleX(0);
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-link:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav-list-item-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.current {
  color: #2196F3;
}

.current::after {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  transform: scaleX(1);
  opacity: 1;
}

.logo {
  color: #212121;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-menu-wrapper .logo {
  margin-top: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo-web {
  color: #2196F3;
}

.footer-logo {
  margin-bottom: 20px;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: none;
}

@media screen and (max-width: 1199px) {
  .footer-logo {
    text-align: center;
  }
}

.contact-us .icon {
  margin-right: 8px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-us-item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .contact-us-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.icon.envelope {
  margin-top: 2px;
}

.contact-us-email,
.contact-us-phone {
  display: center;
  justify-content: flex-start;
  align-items: stretch;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-us-email:hover,
.contact-us-phone:hover {
  color: #2196F3;
}

.contact-us-email:focus,
.contact-us-phone:focus {
  color: #2196F3;
}

.contact-us-email:hover .icon,
.contact-us-phone:hover .icon {
  fill: #2196F3;
}

.contact-us-email:focus .icon,
.contact-us-phone:focus .icon {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .contact-us-email,
  .contact-us-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .contact-us {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    padding-top: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-us {
    flex-direction: row;
    align-items: center;
    padding-top: 0px;
  }
  .contact-us .contact-us-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.hero {
  max-width: 767px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/mobile/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 1.5), screen and (min-resolution: 144dpi), screen and (min-resolution: 1.5dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/mobile/header@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/mobile/header@3x.jpg);
  }
}

.hero .container {
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero-title {
  display: inline-block;
  width: 360px;
  margin-bottom: 30px;
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/tablet/header.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 1.5), screen and (min-width: 768px) and (min-resolution: 144dpi), screen and (min-width: 768px) and (min-resolution: 1.5dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/tablet/header@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/tablet/header@3x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/desktop/header.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 1.5), screen and (min-width: 1200px) and (min-resolution: 144dpi), screen and (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/desktop/header@2x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/desktop/header@3x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-title {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    width: 696px;
  }
}

.btn-primary {
  margin: 0;
  padding: 10px 32px 10px;
  max-width: 100%;
  color: #ffffff;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  border-width: 0px;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primary:hover {
  background-color: #188CE8;
  cursor: pointer;
  outline: none;
}

.btn-primary:focus {
  background-color: #188CE8;
  cursor: pointer;
  outline: none;
}

.subscribe-form-wrapper .btn-primary {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-items: center;
}

.features-list-item {
  margin-top: 30px;
}

.features-list-item::before {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  border-radius: 4px;
  content: "";
}

.features-list-item.antenna::before {
  background-image: url(../images/advantages/antenna.svg);
}

.features-list-item.clock::before {
  background-image: url(../images/advantages/clock.svg);
}

.features-list-item.diagram::before {
  background-image: url(../images/advantages/diagram.svg);
}

.features-list-item.astronaut::before {
  background-image: url(../images/advantages/astronaut.svg);
}

.features-list-item-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.features-list-item-description {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .features-list-item {
    width: calc((100% - 30px) / 2);
  }
  .features-list-item:nth-child(-n + 2) {
    margin-top: 0px;
  }
  .features-list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .features-list-item-title {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  }
  .features-list-item {
    width: calc((100% - 90px) / 4);
    margin-top: 0px;
  }
  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .fields {
    display: none;
  }
}

.fields .container {
  padding-top: 0px;
}

.fields-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.fields-list-item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.fields-list-item:not(:last-child) {
  margin-right: 30px;
}

.fields-list-item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
}

.our-team .container {
  background-color: #F5F4FA;
}

.our-team-list-item {
  width: 100%;
  text-align: center;
  padding-bottom: 24px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.worker-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.position {
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.social {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.our-team-list-item-photo {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .our-team-list-item {
    width: calc((100% - 30px) / 2);
  }
  .our-team-list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .our-team-list-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .our-team-list-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-list-item {
    width: calc((100% - 90px) / 4);
  }
  .our-team-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .our-team-list-item:nth-child(-n + 2) {
    margin-bottom: 0px;
  }
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item .icon {
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list .social-item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-item-link {
  display: block;
  padding: 12px;
  color: #212121;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-link:hover {
  width: 44px;
  height: 44px;
  background-color: #2196F3;
  border-radius: 50%;
}

.social-item-link:focus {
  width: 44px;
  height: 44px;
  background-color: #2196F3;
  border-radius: 50%;
}

.social-item .icon {
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-link:hover .icon {
  fill: #ffffff;
}

.social-item-link:focus .icon {
  fill: #ffffff;
}

.join-list .icon {
  fill: #ffffff;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.clients-list-item {
  width: calc((100% - 30px) / 2);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.clients-list-item:hover {
  border-color: #2196F3;
  fill: #2196F3;
}

.clients-list-item:focus {
  border-color: #2196F3;
  fill: #2196F3;
}

@media screen and (max-width: 767px) {
  .clients-list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .clients-list-item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: #AFB1B8;
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover {
  border-color: #2196F3;
  fill: #2196F3;
}

.clients-list-link:focus {
  border-color: #2196F3;
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .clients-list-item:nth-child(3n) {
    margin-right: 0px;
  }
  .clients-list-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-item {
    width: calc((100% - 150px) / 6);
    margin-bottom: 0px;
  }
  .clients-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer {
  color: #ffffff;
  background-color: #2F303A;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.join-title,
.subscribe-title {
  display: block;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .join-title,
  .subscribe-title {
    text-align: center;
  }
}

.join-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .join-list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .container.footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .footer-item-wrapper,
  .join {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .container.footer {
    flex-wrap: nowrap;
  }
}

.address {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 0px;
  }
}

.address-item {
  font-weight: 400;
  line-height: 1.71;
  text-transform: none;
}

@media screen and (max-width: 1199px) {
  .address-item {
    text-align: center;
  }
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}

.address-item-post {
  color: #ffffff;
}

.address-item-email,
.address-item-phone {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-form-wrapper {
    flex-direction: row;
  }
}

.subscribe {
  flex-grow: 2;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    max-width: 570px;
  }
}

.subscribe-email {
  width: 100%;
  padding: 15px 16px;
  margin-bottom: 20px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .subscribe-email {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-email {
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.icon-send {
  margin-left: 10px;
  fill: #F5F4FA;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.application-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .application-form {
    width: 528px;
  }
}

.backdrop.is-hidden .application-form {
  transform: scale(0.9);
}

.application-form-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.15;
}

.application-form-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.application-form-close:hover {
  outline: none;
}

.application-form-close:focus {
  outline: none;
}

.icon-close-modal {
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form-close:hover .icon-close-modal {
  fill: #2196F3;
}

.application-form-close:focus .icon-close-modal {
  fill: #2196F3;
}

.application-form-input-wrapper {
  position: relative;
  margin-bottom: 28px;
  width: 100%;
}

.application-form-input,
.application-form-comment {
  width: 100%;
  height: 40px;
  font-family: Roboto;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.application-form-input {
  padding-left: 42px;
}

.application-form-input::placeholder {
  opacity: 0;
}

.application-form-input:not(:placeholder-shown) {
  outline: none;
  border-color: #2196F3;
}

.application-form-input:focus {
  outline: none;
  border-color: #2196F3;
}

.application-form-input + .application-form-label {
  position: absolute;
  top: 12px;
  left: 42px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form-label + .icon {
  position: absolute;
  top: 11px;
  left: 16px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form-input:focus ~ .icon {
  fill: #2196F3;
}

.application-form-input:not(:placeholder-shown) ~ .icon {
  fill: #2196F3;
}

.application-form-input:focus + .application-form-label,
.application-form-input:not(:placeholder-shown) + .application-form-label {
  transform: translate(-28px, -31px);
  font-size: 12px;
  color: #2196F3;
}

.application-form-input:focus.application-form-input::placeholder {
  opacity: 1;
}

.application-form-comment {
  margin-bottom: 20px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.application-form-comment:focus {
  outline: none;
}

.application-form-comment::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.application-form-label,
.application-form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.agreement-accept {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.agreement-accept-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.agreement-accept-text::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-image: url(../images/checkbox-modal.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  content: "";
}

.agreement-accept-text a {
  color: #2196F3;
}

.agreement-accept-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.agreement-accept-checkbox:checked + .agreement-accept-text::before {
  background-color: #2196F3;
  background-image: url(../images/checked-modal.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 8px;
  border-radius: 2px;
}

.gallery {
  color: #212121;
}

.gallery-filters {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 50px;
}

.gallery-filters .active {
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.gallery-filters-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 1199px) {
  .gallery-filters {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .gallery-filters {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .gallery-filters-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.gallery-filters-item-btn {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding: 6px 22px;
  border-width: 0px;
  border-radius: 4px;
  outline: none;
  background-color: #F5F4FA;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-filters-item-btn:hover {
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.gallery-filters-item-btn:focus {
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.gallery-works-box {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-works-box:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 1199px) {
  .gallery-works-box:not(:last-child) {
    margin-bottom: 30px;
  }
}

.gallery-works-thumb {
  position: relative;
  overflow: hidden;
}

.gallery-works-box-text {
  position: absolute;
  top: 100;
  width: 100%;
  height: 100%;
  /* transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

@keyframes overlay {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

.gallery-works-box:hover .gallery-works-box-text {
  /* transform: translateY(-100%); */
  animation: overlay 250ms forwards;
}

.gallery-works-box-category {
  display: block;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.gallery-works-box .wrapper {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #eeeeee;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #eeeeee;
}

.gallery-works-box-name {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: start;
}

.gallery-works-box-text {
  padding: 60px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
}

.gallery-image-thumb {
  max-width: 450px;
  max-height: 294px;
}

.gallery-image-thumb .image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .gallery-image-thumb {
    width: 354px;
  }
  .gallery-works {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .gallery-works-box {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery-works-box:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-image-thumb {
    width: 370px;
  }
  .gallery-works-box {
    width: calc((100% - 60px) / 3);
  }
  .gallery-works-box:not(:nth-child(3n + 3)) {
    margin-right: 30px;
  }
  .gallery-works-box:not(:nth-child(3n + 3)):not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=main.css.map */