.features-list-item {
    margin-top: 30px;
    &::before {
                display: block;
                width: 100%;
                height: 120px;
                margin-bottom: 30px;
            
                background-color: $secondary-bg-color;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 70px 70px;
            
                border-radius: 4px;
            
                content: "";
    }
        
    &.antenna::before {
        background-image: url(../images/advantages/antenna.svg);
    }
        
    &.clock::before {
        background-image: url(../images/advantages/clock.svg);
    }
        
    &.diagram::before {
        background-image: url(../images/advantages/diagram.svg);
    }
        
    &.astronaut::before {
        background-image: url(../images/advantages/astronaut.svg);
    }
        
}

.features-list-item-title {
    margin-bottom: 10px;
    
    @include title-text($font-size: $base-font-size, $line-height: 1.14);
    text-transform: uppercase;
}

.features-list-item-description {
    color: $secondary-text-color;

    font-size: $base-font-size;
    line-height: 1.71;
}

@media screen and (min-width: 768px) {
    .features-list {
        @include container-flex;
        flex-wrap: wrap;
    }

    .features-list-item {
         width: calc((100% - 30px) / 2);
        
        &:nth-child(-n + 2) {
            margin-top: 0px;
        }
        
        &:nth-child(2n + 1) {
            margin-right: 30px;
        }
    }

    .features-list-item-title {
        @include title-text($font-size: $base-font-size, $line-height: 1.14, $text-align: left);
    }

}

@media screen and (min-width: 1200px) {
    .features-list {
        @include container-flex;
        flex-wrap: nowrap;
    }

    .features-list-item {
        width: calc((100% - 90px) / 4);
        margin-top: 0px;
    
    
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}
