.container {
    width: $container-width;
    padding-top: $container-padding-y;
    padding-right: $container-padding-x;
    padding-bottom: $container-padding-y;
    padding-left: $container-padding-x;
    margin-left: auto;
    margin-right: auto;
}