.logo {
    color: $primary-text-color;
    font-family: "Raleway";
    @include font-style(700, 24px, 1.17, $base-letter-spacing);

    .logo-menu-wrapper & {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 1200px) {
        @include font-style(700, 26px, 1.19, $base-letter-spacing);   
    }
}

.logo-web {
    color: $accent-color;
}


.footer-logo {
    margin-bottom: 20px;
    color: $dark-section-text-color;
    font-family: Raleway;
    @include font-style(700, 24px, 1.17, $base-letter-spacing);
    text-transform: none;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}
